# Database
DATABASE_URL=
TEST_DATABASE_URL=

# Application
DEBUG=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Redis
REDIS_URL=
REDIS_CACHE_URL=

# External APIs
GROQ_API_KEY=

# CORS
ALLOWED_ORIGINS=
ALLOWED_HOSTS=

# AWS Services
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# Rate limiter (true in production, false only for local load testing)
RATELIMIT_ENABLED=

## Deployment and CICD
# Required GitHub Secrets: EC2_HOST, EC2_USER, EC2_SSH_KEY